/* menu bar start */

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
 
}
 
 html{
  scroll-behavior: smooth;
 } 

.wrapper{
  width: 100%;
  height: 100%;
   
}

.top_navbar{
  background: #B3E0FF;
  height: 60px;
  display: flex;
  position:  absolute;
  width: 100%;
  top: 0;
  z-index: 1;
}
 

.top_navbar .hamburger{
  width: 80px;
  background:  #B3E0FF;
  position: relative;
  font-size: 28px;
}

.top_navbar .hamburger .hamburger__inner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
  width: 40px;
  height: 20px;
}

.top_navbar .hamburger__inner > div{
  width: 30px;
  height: 2px;
  background: #B3E0FF;
  position: absolute;
  top: 0;
  left: 0;
}

.top_navbar .hamburger div.two{
  top: 10px;
  width: 40px;
}

.top_navbar .hamburger div.three{
  top: 20px;
}

.top_navbar .menu{
  width: calc(100% - 80px);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.top_navbar .menu .logo{
  color: black;
 font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2vw;
}
.logo_name{
  color: green;
}
.top_navbar .menu .right_menu ul{
  display: flex;
}

.top_navbar .menu .right_menu ul li{
  position: relative;
}

.top_navbar .menu .right_menu ul li .fas{
  font-size: 22px;
  cursor: pointer;
   
  transition-duration: 0.3s;
  transition-timing-function:ease ;
  transition-delay: 0s;
}

.top_navbar .menu .right_menu ul li .profile_dd{
  position: absolute;
  top: 35px;
  right: -10px;
   box-shadow: 0 0 2px rgba(0,0,0,0.5);
  padding: 10px 0;
  width: 180px;
  border-radius: 3px;
  display: none;
  user-select: none;
}

.top_navbar .menu .right_menu ul li .profile_dd.active{
  display: block;
}

 

.top_navbar .menu .right_menu ul li .profile_dd .dd_item:hover{
  background: #E0F2F1;
}

.top_navbar .menu .right_menu ul li .profile_dd:before{
  
  position: absolute;
  top: -20px;
  right: 10px;
  border: 10px solid;
  border-color: transparent transparent #fff transparent;
}
.right_menu li a i{
  color: black; 
  font-size: 1.4vw;
  margin-left: 5vw;
  padding: 10px;
}
.right_menu li a i:hover{

   
  color:  green;
  transition: 0.3s;
   
}
.right_menu li a i:active{
  color: red;
   }
.main_container .sidebar{
  position: absolute;
   z-index: 0;
  top: 60px;
  left: 0;
  font-weight: bold;
  width: 200px;
  height:  20vw;
  background: #B3E0FF;
  transition: all 0.3s ease;
  
}

.main_container .sidebar .sidebar__inner{
  position: relative;
}

.main_container .sidebar .profile{
  display: flex;
  align-items: center;
  
  padding: 20px 0;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.main_container .sidebar .profile .img{
  padding: 0 18px;
}

.main_container .sidebar .profile img{
   width: 45px;
}

.main_container .sidebar .profile p:first-child{
  font-size: 14px;
 
  margin-bottom: 3px;
}

.main_container .container{
  margin-top: 60px;
  width: calc(100% - 225px);
  margin-left: 225px;
  padding: 30px;
  transition: all 0.3s ease;
}

.main_container .sidebar ul li a{
  color: black;
  font-size: 18px;
  padding: 20px 30px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  transition: all 0.3s ease;
}

.main_container .sidebar ul li a .icon{
  margin-right: 15px;
  font-size: 28px;
}

.main_container .sidebar ul li a span{
  display: inline-block;
}

.main_container .sidebar ul li a:hover
 {
   
  color:  green;
}

.main_container .sidebar ul li a:active{
  color: red;
}

.main_container .container .item{

  border: 1px solid #E0F2F1;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 14px;
  line-height: 22px;
}

/* after adding active class */
.wrapper.active .sidebar{
  width: 80px;
}

.wrapper.active .sidebar ul li a span.title,
.wrapper.active .profile_info
{
  display: none;
}

.wrapper.active .main_container .container{
  width: calc(100% - 80px);
  margin-left: 80px;
}

/* menu bar end */

/* homepage */
.gupta img{
  width: 70vw;
   height: 52vw;
   max-width: 100%;
   max-height: 100%;
   margin-left: 50%;
   margin-top: 15px;
   
  /* opacity: 0.9; */
  /* filter: blur(6px); */
  
}
 
  
.waviy {
  position: absolute;
  top: 20vw;
  left: 39vw;
  transform: translate(-50%, -50%);
  text-shadow: 1px 10px 5px  #72abd1;
  
  
}
.gr{
  color: green;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 8vw;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}
.head1{
  font-size:5vw;
  position: absolute;
  top: 30vw;
  left: 42vw;
  transform: translate(-50%, -50%);
  text-shadow: 1px 10px 5px #72abd1;

}
 
 /* homepage end */
   

/* about section start */
#about{
  display:flex;
  max-height:1470px;
  margin: 20px;
  justify-content: center;
  align-items: center;
 

}
@media (max-width: 1000px) {
  #about{
    display: block;
    text-align: center;
  }
  .about-right{
    text-align: center; 
  }
  .about{
    margin-left: 15%;
    margin-right: 15%;
  }
}
.about-left {
  width:50%;
  text-align:  center;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 50px;
  margin-bottom: 100px;
}
.about-image{
  border-radius: 20%;
  box-shadow: 10px 10px 10px grey;
}
.about-image:hover{
  transform: scale(1.06) ;
  transition: 0.4s;
  z-index: 0;
  
} 
.about-right{
  width: 50%;
  margin: 100px;
  max-height: 1200px;

}
.about-small-head{
  font-size: x-large;
}

.about-content{
  font-size: 25px;
  text-align: justify;
   
}

/* about section end */
 
   
.head{
  font-size:5vw;
  font-: normal;
  text-align: center;
  text-shadow: 1px 10px 5px grey;
}
 
/* 
contact section start */
 

@-webkit-keyframes myfirst
{
	0% {margin-left: -235px}
	90% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

/* Animation */
@keyframes myfirst
{
	0% {margin-left: -235px}
	70% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

.fish{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/fish.png');
	width: 235px;
	height: 104px;
	margin-left: -235px;
	position: absolute;	
	animation: myfirst 24s;
	-webkit-animation: myfirst 24s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}

#fish{
	top: 120px;
}

#fish2{
	top: 260px;
	animation-delay: 12s;
	-webkit-animation-delay: 12s;
}


header{
	height: 160px;
	background: url('http://www.geertjanhendriks.nl/codepen/form/golf.png') repeat-x bottom;
}

#form{
	height: 100%;	
	background-color: #98d4f3;
	overflow: hidden;
	position: relative;
	
}
form{
	margin: 0 auto;
	width: 500px;
	padding-top: 40px;
	color: white;
	position: relative;
	
	
}
label, input, textarea{
	display: block;	
}
input, textarea{
	width: 500px;	
	border: none;
	border-radius: 20px;
	outline: none;
	padding: 10px;
	font-family: 'Sniglet', cursive;
	font-size: 1em;
	color: #676767;
	transition: border 0.5s;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	border: solid 3px #98d4f3;	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	
}
input:focus, textarea:focus{
	border: solid 3px #77bde0;	
}

textarea{
	height: 100px;	
	resize: none; 
	overflow: auto;
}
input[type="submit"]{
	background-color: #F90;
	color: white;
	height: 50px;
	cursor: pointer;
	margin-top: 30px;
	font-size: 1.29em;
	font-family: 'Sniglet', cursive;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
}
input[type="submit"]:hover{
	background-color: #e58f0e;
	
}
label{
	font-size: 1.5em;
	margin-top: 20px;
	padding-left: 20px;
}
.formgroup, .formgroup-active, .formgroup-error{
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 10.5%;
	transition: background-image 0.7s;
	-webkit-transition: background-image 0.7s;
	-moz-transition: background-image 0.7s;
	-o-transition: background-image 0.7s;
	width: 566px;
	padding-top: 2px;
}

.formgroup{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/pixel.gif');	
}
.formgroup-active{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo.png');
}
.formgroup-error{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo-error.png');
	color: red;
}
/* contact section end */

/* FOOTER section start */
footer {
  position:absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
 
  z-index: -1;
  background: rgb(0, 0, 15);
  border-top: aliceblue 5px solid;
  margin: 0px;
   
}

.footer-text {
  color: aliceblue;
  text-align: center;
  background-color: black;
  padding-bottom: 30px;
}

 


/* FOOTER section end */